html {
	background: #FFF;
	font-family: Verdana;
}
body {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}
#wrap {
	overflow: hidden;
}
#footer {
	clear: both;
	display: block;
	font-size: 8px;
	text-align: right;
	margin: 10px 0px;
}
#footer img {
	float: left;
}
.center {
	text-align: center;
}

#wrap, #nav, #listened {
	display: block;
	clear: both;
	overflow: hidden;
}
#nav {
	margin: 5px 0px;
}
#nav ul li {
	float: left;
	display: inline;
}

#wrap div, #playlistcontent {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	border: 1px solid #000000;
}
#left_column {
	width: 680px;
	float: left;
}
#right_column {
	width: 250px;
	float: right;
}
#left_column, #right_column, #profile, #listened {
	padding: 10px;
	overflow: hidden;
}

#wrap #profile {
	border: 0px;
}
#profile div {
	float: right;
	border: 0px;
}

#login_form input, #play_spotify_roulette {
	background: url('/images/sign_in_twitter.png') top left no-repeat;
	width: 151px;
	height: 0px;
	padding-top: 24px;
	overflow: hidden;
	display: block;
	border: 0px;
	margin: 0px auto;
	cursor: pointer;
}
#play_spotify_roulette {
	background: url('/images/spin.png') top left no-repeat;
}

#twitter_widget {
	margin: 10px 0px;
	border: 0px;
}

.left {
	float: left;
}
.right {
	float: right;
}

p {
	margin: 5px 3px;
}
a:link, a:active, a:visited, a:hover {
	color: #75B700;
}
fieldset, #listened, #listened div {
	border: 0px;
}

#game_responses {
	padding: 10px;
}

#playlistcontent {
	padding: 3px;
	width: 100%;
	height: 200px;
}
