*, html, body {
}

html {
        background: #888888 url('../../elements/site/background.png') left top repeat-x;
}

body {
        width: 800px;
        margin: 20px 0 0 0;
        padding: 20px 0 20px 0;
        margin-left: auto;
        margin-right: auto;
        background: #FFFFFF url('../../elements/site/border.png') left top repeat-x;
}

#wrap {
        background: #FFFFFF;
        width: 750px;
        min-height: 200px;
        margin-left: auto;
        margin-right: auto;
}

.blocker {
        clear: both;
        display: block;
}

/* accessability */
h1 {
        display: none;
}

h2, h3, h4, h5, h6, a, p {
        font-family: verdana, arail, sans-serif;
        font-size: 8px;
}

h2 {
        font-size: 20px;
}

h3 {
        font-size: 15px;
}

ul {
        margin: 5px;
        border: 1px solid #777777;
        list-style: disc;
}

li {
        list-style: disc;
        padding: 0 0 0 5px;
}

