ErrorDocument		403			/
ErrorDocument		404			/
ErrorDocument		500			"And Register1 Cock Up AGAIN! - SRA ENTRY ADMIN is at http://adminb.lsrfm.com/"
Redirect Permanent	/sitemap.xml		http://downloads.lsrfm.com/rss/sitemap.xml

DirectoryIndex		index.php

RewriteEngine on

#no-www.org
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ /home.php/$1 [L]

